@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core CSS */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
/* Dark Mode Icon CSS Start */
svg.icon-moon {
    position: relative;
    left: -5px;
}
svg.icon-sun {
    position: relative;
    right: -5px;
}
/* Dark Mode Icon CSS End */
html.dark body {
    background: #1D232A;
}